* {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Merriweather";
  overflow:hidden;
  
}

#container {
  width: 100vw ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5vh;
  background: #62B5C8;
  background: -webkit-linear-gradient(top left, #62B5C8, #D5ECEF);
  background: -moz-linear-gradient(top left, #62B5C8, #D5ECEF);
  background: linear-gradient(to bottom right, #62B5C8, #D5ECEF);
  
  
}

#dataForm {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#graphContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar{
  position:absolute;
  top:0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color:black;
  padding-left:2vw;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
